<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Course" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ProjectX;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False">
		</add>
		<add name="Model" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ProjectX;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False">
		</add>
		<add name="Batch" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ProjectX;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False">
		</add>
		<add name="Grader" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ProjectX;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False">
		</add>
		<add name="Faculty" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ProjectX;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False">
		</add>
		<add name="Participant" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ProjectX;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False">
		</add>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>